<section class="main">
    <div class="empty" *ngIf="!movieList.length">
        <h3>You dont have any favorite film, try adding some films in home page.</h3>
    </div>
    <mat-card *ngFor="let movie of movieList">
        <mat-card-title [matTooltip]="movie.title"> {{movie.title}}</mat-card-title>
        <img 
            mat-card-image 
            [src]="baseImgUrl + movie.backdrop_path" 
            onError="this.src='./assets/img/404.png';"
            alt="Photo of {{movie.title}}" />
        <mat-card-subtitle>{{movie.overview}}</mat-card-subtitle>
        <mat-card-actions>
        <button mat-button (click)="addToFavorites(movie)">
            <mat-icon>favorite</mat-icon>
        </button>
        <button mat-button (click)="goToOverview(movie)">
            <mat-icon>pageview</mat-icon>
        </button>
        </mat-card-actions>
    </mat-card>
</section>
